.Butonmenu {
  background-color: transparent;
  color: #ffffffa1;
  border: none;
  display: flex;
  position: absolute;
  left: 0;
  background: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
.Butonmenu:hover {
  display: flex;
  position: absolute;
  right: 2em;
  background: transparent;
  border: transparent;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
.Butonmenu:active {
  display: flex;
  position: absolute;
  right: 2em;
  background: transparent;
  border: transparent;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
.Butonmenu .MenuIicone:hover {
  color: #ffffffa1;
  font-size: 1.8em !important;
}
.MenuIicone {
  color: #e7e9ec;
  font-size: 1.8em !important;
}
.Butonmenu:focus {
  display: flex;
  position: absolute;
  right: 2em;
  background: transparent;
  border: transparent;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
.ButonmenuMobile {
  display: flex;
  right: 0;
  background: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 !important;
}
.TitulosContatos {
  color: white;
}
.ButonmenuMobile:hover {
  display: flex;
  right: 0;
  background: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 !important;
}
.ButonmenuMobile:active {
  display: flex;
  right: 0;
  background: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 !important;
}

@media (max-width: 775px) {
  .ButonmenuMobile {
    font-size: 2em;
  }
  .Butonmenu {
    display: none;
  }
}
@media (min-width: 775px) {
}
@media (min-width: 1084px) {
  .ButonmenuMobile {
    display: none;
  }
}
